*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root{
  height: 100%;
  width: 100%;
}

.card{
  height: 360px;
  width: 400px;
box-shadow: -8px -5px 9px 5px rgba(215, 225, 244, 0.79), 
3px 9px 11px 0px rgba(12, 10, 8, 0.62);
}

img{
  width: 100%;
  border-radius: 4px;
  padding: 5px;
}

h1, h4{
  padding: 3%;
}

.chessboard{
  height: 400px;
  width: 400px;
  border: 30px solid black;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  padding: 2px;
}

.tile{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.even{
  background: white;
}

.odd{
  background:black;
}
/* .tile:nth-child(even){
  background-color: white ;
}

.tile:nth-child(odd){
  background-color: black;
} */