* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #264653;
  display: flex;
}

.container {
  margin: auto;
  background-color: #7B6D8D;
  width: 50%;
  height: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.cards {
  height: 100%;
  width: 100%;
}

.questions {
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #2A9D8F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80%;
  margin: 20px 20px 5px 20px;
  height: 30%;
  border-radius: 5px;
  background-color: #DCFFFD;
}

button:hover{
  background-color: #c0b2b1;
}

h2{
  font-size:xx-large;
  margin: 10% 20% 10% 20%;
}

h3{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 3%;
}
.next ,.prev{
  width: 40%;
  margin:  auto;
  height: 200%;

}

.wrong{
  background-color: #89023E;
}

.correct{
  background-color: #345511;
  
  /* background-color: #B0CA87; */
}

.hidden{
  visibility: hidden;
  z-index: -19;
}

.start-page{
  
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  background: url('/Day-11-Quiz/icons/start.png');
  height: 50px;
  width: 50px;
  display: block;
  /* Other styles here */
}

